{% extends "Student/student-base.html" %}
{% load static %}
{% block content %} 
            <div class="page-wrapper">
                <div class="content container-fluid">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Notice</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'Student:studentdashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Notice</li>
                            </ul>
                        </div>
                        <div class="col-auto text-right float-right ml-auto">
                            <a href="{% url 'Student:addleave' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                        <tr>
                                        <th>No</th>
                                        <!-- <th>Teacher</th> -->
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for leave in leaves %} 
                                            <tr>
                                                <td>
                                                    <h2>
                                                        <a>{{forloop.counter}}</a>
                                                    </h2>
                                                </td>
                                                <!-- <td>{{leave.teacher}}</td> -->
                                                <td>{{leave.start_date}}</td>
                                                <td>{{leave.end_date}}</td>
                                                <td>{{leave.reason}}</td>
                                                <td class="text-right">
                                                    {% if leave.status == "Approved" %}
                                                        <h5 class="text-center"><span class="badge badge-success">{{leave.status}}</span></h5>
                                                    {% elif leave.status == "Rejected" %}
                                                        <h5 class="text-center"><span class="badge badge-danger">{{leave.status}}</span></h5>
                                                    {% else %}
                                                        <h5 class="text-center"><span class="badge badge-primary">{{leave.status}}</span></h5>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <div class="actions">
                                                        <a href="{% url 'Student:editleave' leave.pk %}" class="btn btn-sm bg-success-light mr-2">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a class="btn btn-sm bg-danger-light" data-target="#infoModal_{{ leave.pk }}" data-toggle="modal" >
                                                            <i class="fas fa-trash"></i>
                                                        </a> 
                                                </td>
                                            </tr>
                                            <!-- Delete Pop up Modal -->
                                            <div class="modal fade" id="infoModal_{{ leave.pk }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalLabel">Confirm Delete</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body"> 
                                                            <p>Are You Sure You Want To Delete Leave.</b></p> 
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form method="post" action="{% url 'Student:deleteleave' leave.pk %}">
                                                                {% csrf_token %}
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Delete Pop up Modal -->
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
{% endblock %}                 