{% extends "Admin/admin-base.html" %}
{% load static %}
{% block content %}
            <div class="page-wrapper">
                <div class="content container-fluid">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Edit Teachers</h3>
                            <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'Admin:teacherlist' %}">Teachers</a></li>
                            <li class="breadcrumb-item active">Edit Teachers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <!-- {{form.as_p}}
                                    {{teacher_form.as_p}} -->
                                    <div class="row">
                                        <!-- Login ID -->
                                        <!-- <div class="col-12 col-sm-6"> -->
                                            <div class="form-group">
                                                <!-- <label for="{{ form.id_Login_id.id_for_label }}"><b>Login ID</b></label> -->
                                                <input class="form-control{% if form.Login_id.errors %} is-invalid{% endif %}"
                                                    name="Login_id"
                                                    id="{{ form.Login_id.id_for_label }}""
                                                    type="hidden"
                                                    placeholder="Enter Login ID"
                                                    value="{{ user_form.Login_id.value|default_if_none:'' }}">
                                                {% if form.Login_id.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.Login_id.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        <!-- </div> -->    
                                        <!-- First Name -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.first_name.id_for_label }}"><b>First Name</b></label>
                                                <input class="form-control{% if form.first_name.errors %} is-invalid{% endif %}"
                                                    name="first_name"
                                                    id="{{ form.first_name.id_for_label }}""
                                                    type="text"
                                                    placeholder="Enter First Name"
                                                    value="{{ user_form.first_name.value|default_if_none:'' }}"
                                                    >
                                                {% if form.first_name.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.first_name.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Last Name -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.last_name.id_for_label }}"><b>Last Name</b></label>
                                                <input class="form-control{% if form.last_name.errors %} is-invalid{% endif %}"
                                                    name="last_name"
                                                    id="{{ form.last_name.id_for_label }}""
                                                    type="text"
                                                    placeholder="Enter Last Name"
                                                    value="{{ user_form.last_name.value|default_if_none:'' }}"
                                                    >
                                                {% if form.last_name.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.last_name.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--Email-->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.email.id_for_label }}"><b>Email</b></label>
                                                <input class="form-control{% if form.email.errors %} is-invalid{% endif %}"
                                                    name="email"
                                                    id="{{ form.email.id_for_label }}""
                                                    type="email"
                                                    placeholder="Enter Email"
                                                    value="{{ user_form.email.value|default_if_none:'' }}"
                                                    >
                                                {% if form.email.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Date of Birth -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.dob.id_for_label }}"><b>Date of Birth</b></label>
                                                <input class="form-control{% if form.dob.errors %} is-invalid{% endif %}"
                                                    name="dob"
                                                    id="{{ form.dob.id_for_label }}""
                                                    type="date"
                                                    placeholder="Enter Date of Birth"
                                                    value="{{ user_form.dob.value|date:'Y-m-d' }}">
                                                {% if form.dob.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.dob.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Gender -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.gender.id_for_label }}"><b>Gender</b></label>
                                                <select class="form-control{% if form.gender.errors %} is-invalid{% endif %}"
                                                    name="gender"
                                                    id="{{ form.gender.id_for_label }}""
                                                    required>
                                                    <option value="">Select Gender</option>
                                                    <option value="Male" {% if user_form.gender.value == 'Male' %}selected{% endif %}>Male</option>
                                                    <option value="Female" {% if user_form.gender.value == 'Female' %}selected{% endif %}>Female</option>
                                                </select>
                                                {% if form.gender.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.gender.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Phone Number -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.phone_number.id_for_label }}"><b>Phone Number</b></label>
                                                <input class="form-control{% if form.phone_number.errors %} is-invalid{% endif %}"
                                                    name="phone_number"
                                                    id="{{ form.phone_number.id_for_label }}""
                                                    type="text"
                                                    placeholder="Enter Phone Number"
                                                    value="{{ user_form.phone_number.value|default_if_none:'' }}">
                                                {% if form.phone_number.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.phone_number.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Joining Date -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ teacher_form.joining_date.id_for_label }}"><b>Joining Date</b></label>
                                                <input class="form-control{% if teacher_form.joining_date.errors %} is-invalid{% endif %}"
                                                    name="joining_date"
                                                    id="{{ teacher_form.joining_date.id_for_label }}""
                                                    type="date"
                                                    placeholder="Enter Joining Date"
                                                    value="{{ teacher_form.joining_date.value|date:'Y-m-d' }}"
                                                    readonly>
                                                {% if teacher_form.joining_date.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in teacher_form.joining_date.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Qualification -->
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="id_qualification"><b>Qualification</b></label>
                                                <input class="form-control{% if teacher_form.qualification.errors %} is-invalid{% endif %}"
                                                    name="qualification"
                                                    id="id_qualification"
                                                    type="text"
                                                    placeholder="Enter Qualification"
                                                    value="{{ teacher_form.qualification.value|default_if_none:'' }}">
                                                {% if teacher_form.qualification.errors %}
                                                    <div class="invalid-feedback">
                                                        {% for error in teacher_form.qualification.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Address -->
                                        <div class="col-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="{{ form.address.id_for_label }}"><b>Address</b></label>
                                                <textarea class="form-control{% if form.address.errors %} is-invalid{% endif %}"
                                                    name="address"
                                                    id="{{ form.address.id_for_label }}""
                                                    cols="10"
                                                    rows="5"
                                                    placeholder="Enter Address"
                                                    required>{{ user_form.address.value|default_if_none:'' }}</textarea>
                                                {% if form.address.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.address.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Submit Button -->
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
{% endblock %}   